.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    width: 350px;
    height: 250px;
    background-color: #fff;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 3px 0px #a3a3a3;
    box-shadow: 0px 0px 3px 0px #a3a3a3;
    overflow-y: scroll;
}

.show {
    display: block;
}

.hide {
    display: none;
}