.background {
    height: calc(100vh - 60px);
    width: 100%;
    background-color: #fafafa;
}

.outerWrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 20px;
    width: 100%;
}

.chat {
    height: 100%;
    width: 100%;
    max-width: 935px;
    display: flex;

    border-collapse: collapse;
    border: 1px solid #e8e8e8;
    background-color: #fff;
}

.contacts {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 350px;
    border-right: 1px solid #e8e8e8;
    min-width: 350px;
}

.contactsHeader {
    height: 60px;
    position: relative;
    border-bottom: 1px solid #e8e8e8;
}

.username {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contactsBody {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    overflow-y: scroll;
}

