.background {
    height: calc(100vh - 60px);
    width: 100%;
    background-color: #fafafa;
}

.outerWrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 20px;
    width: 100%;
}

.chat {
    height: 100%;
    width: 100%;
    max-width: 935px;
    display: flex;

    border-collapse: collapse;
    border: 1px solid #e8e8e8;
    background-color: #fff;
}

.contacts {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 350px;
    border-right: 1px solid #e8e8e8;
}

.contactsHeader {
    height: 60px;
    position: relative;
    border-bottom: 1px solid #e8e8e8;
}

.username {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contactsBody {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    overflow-y: scroll;
}

.content {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    flex-direction: column;
}

.contentHeader {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}

.contentHeaderInner {
    display: flex;
    padding: 10px 35px;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.userPicContainer {
    width: 24px;
    height: 24px;
}

.userPicContainer > img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.usernameContainer {
    flex: 1 1 auto;
}

.icon {
    color: white;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    font-size: 20px;
    border: 2px solid black;
    margin-top: 2px;
}

.iconActive {
    color: black;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    font-size: 24px;
    border: 2px solid black;
    margin-top: 2px;
}


.messages {
    height: calc(100% - 135px);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    overflow-y: scroll;

    padding: 20px;
}

.inputContainer {
    display: flex;
}

.inputContainerInner {
    padding: 20px;
    width: 100%;
}

.inputParts {
    display: flex;
    padding: 0 8px 0 11px;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
}

.inputDiv {
    width: 100%;
    display: flex;
}

.input {
    height: 31px;
    padding: 8px 9px;
    border: none;
    outline: none;
    font-size: 13px;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    resize: none;
}

.input:focus {
    border: none;
    outline: none;
}

.emojiIconContainer {
    padding: 8px;
}

.attachBtn {
    padding: 8px;
}

.inputIcons {
    font-size: 22px;
    color: #e8e8e8;
}