.messages {
    height: calc(100% - 135px);
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    overflow-y: scroll;

    padding: 20px;
}

.content {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    flex-direction: column;
}

.contentHeader {
    display: flex;
    flex-direction: row;
    height: 61px;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}

.contentHeaderInner {
    display: flex;
    padding: 10px 35px;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.userPicContainer {
    width: 24px;
    height: 24px;
}

.userPicContainer > img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.usernameContainer {
    flex: 1 1 auto;
}

.icon {
    color: white;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    font-size: 20px;
    border: 2px solid black;
    margin-top: 2px;
}

.iconActive {
    color: black;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    font-size: 24px;
    border: 2px solid black;
    margin-top: 2px;
}



.inputContainer {
    display: flex;
}

.inputContainerInner {
    padding: 20px;
    width: 100%;
}

.inputParts {
    display: flex;
    padding: 0 8px 0 11px;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
}

.inputDiv {
    width: 100%;
    display: flex;
}

.input {
    height: 31px;
    padding: 8px 9px;
    border: none;
    outline: none;
    font-size: 13px;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    resize: none;
}

.input:focus {
    border: none;
    outline: none;
}

.emojiIconContainer {
    padding: 8px;
}

.attachBtn {
    padding: 8px;
}

.inputIcons {
    font-size: 22px;
    color: #e8e8e8;
}

.noSelectContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.inboxIcon {
    font-size: 42px;
    padding: 18px 26px;
    color: rgb(98, 98, 98);
    border: 1px solid black;
    border-radius: 50%;
}

.middleText {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.heading {
    font-size: 20px;
}

.subheading {
    font-size: 13px;
    color: gray;
}