/* ---------------NAVIGATION */

.nav {
    display: flex;
    justify-content: center;
    height: 60px;
    border-bottom: 1px solid #dedede;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1000;
}

.navItemsContainer {
    display: flex;
    max-width: 975px;
    padding: 0px 20px;
    align-items: center;
}

.logoContainer {
    margin-top: 8px;
    width: 30%;
}

.logo {
    width: 100%;
}

.navSectionLong {
    width: 36%;
    display: flex;
}

.navSectionShort {
    width: 28%;
    position: relative;
}

.searchInput {
    width: 100%;
    padding: 10px;
    background-color: #efefef;
    border: none;
    border-radius: 6px;
    padding-left: 40px;
}

.searchInput:focus {
    border: none;
    outline: none;
}

.icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    font-size: 22px;
    color: #c6c6c6;
}

.navMenu {
    display: flex;
    gap: 28px;
    align-items: center;
}

.navMenuIconDiv {
    font-size: 23px;

}

.link {
    color: gray;
}

.right {
    justify-content: right;
}

.userProfilePic {
    border-radius: 50%;
    overflow: hidden;
    height: 25px;
    width: 25px;
}

.profilePic {
    width: 100%;
    object-fit: cover;
    object-position: center;
}