.owner {
    display: flex;
    justify-content: right;
    margin-bottom: 7px;
}

.guest {
    display: flex;
    margin-bottom: 7px;
}

.message {
    min-height: 44px;
    padding: 16px;
    background-color: #efefef;
    border-radius: 16px;
    width: fit-content;
    max-width: 45%;
}

.messageGuest {
    min-height: 44px;
    padding: 16px;
    border: 1px solid lightgray;
    background-color: #fff;
    border-radius: 16px;
    width: fit-content;
    max-width: 45%;
}

.messageContent {
    font-size: 13px;
    line-height: 20px;
    display: inline;
    max-width: 45%;
    overflow-wrap: break-word;
}